@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
body{
  background-color:#333333;
  font-family: 'Crimson Text', serif;
  
}
.box{
  background: linear-gradient(180deg, #B0DF8B 0%, rgba(47, 80, 200, 0.71) 100%);
  border-radius: 0px 0px 0px 0px;
  width: 87%;
  padding: 1%;
  height: 88%;
  margin-left: 10%;
  margin-top: 3%;
}

.container {
    display: grid;    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 70px 50px 768px;
    
}
.container2{
  display:grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(25,1fr);
  align-items: center; 
}

.container3{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1,1fr);
  align-items: center; 
}
.i1,.i2,.i3,.i4{
  display:flex;
  
  font-style: normal;
  margin-top:2%;
  justify-content: center;
  font-size: 26px;
  color:white;
  
}
.i4{
  font-weight:1000;
}

.item1 {
    grid-row:3;
    font-weight: 1000;
   
  }
.item2{
  grid-row:6;
  font-weight: 10;
}
.item3{
  grid-row:9;
  font-weight: 10;
}
.item4{
  grid-row:12;
  font-weight: 10;
}
.item5{
  grid-row:20;
  font-weight: 10;
}
.item6{
  grid-row:22;
  font-weight: 10;
}
.item7{
  grid-row:24;
  font-weight: 10;
}

.item1,.item2,.item3,.item4,.item5,.item6,.item7{
  display:flex;
  
  font-style: normal;
  justify-content: center;
  font-size: 26px;
  
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

header {
    grid-column:1/ span 12;
    background-color: #333333;
    
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height:50px;
    width:97vw;
    margin-left:auto;
    color:white;
    
}

aside {
    grid-column:1/ span 2;
    grid-row:2/span 3;
    background-color: #1c464d;
    background: linear-gradient(180deg, #B0DF8B 0%, rgba(47, 80, 200, 0.71) 100%);
border-radius: 35px 35px 0px 0px;
    
}
nav{
  grid-column: 4/span 10;
  grid-row:2;
  background: rgba(82, 83, 86, 0.67);
  border-radius: 80px 0px 0px 80px;

 }

main {
    grid-column: 3/span 10;
    grid-row:3/span 10;
    background-color: #333333;
}


header {
    display: flex;
}





.topnav {
  margin-left:auto;
  overflow: hidden;
  background-color: #333333;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  
}


.topnav{
  font-size:24px;
  width:55vw;
  
}

.search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px 10px;
  margin-top:20px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top:20px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}
.dropbtn {
  
  color: black;
  /* background: linear-gradient(180deg, #7c5668 0%, rgba(31, 163, 163, 0.78) 100%); */
 
  padding: 1%;
  font-size: 20pt;
  border: none;
  cursor: pointer;
  margin-left: 3%;
  margin-right: 3%;
  font-family: 'Crimson Text', serif;
  width: 50%;
  height: 5%;
}

.jk{
  background-color:  #3e8e41;
  color: white;
  height: 10%;
  width: 15%;
  font-size: large;

}



.subn{

  height: 7%;
  width: 8%;
  font-size: medium;
  
  margin-left: 6%;


}

.question{
  color: white;
  
  font-size: 25pt ;
}
.type{
  color: white;
  
  font-size: 25pt ;

}
.fix{
  margin-left: 5%;
  background-color: #3e8e41 ;
  color: white;
  font-family: 'Crimson Text', serif;
  padding: 0.9%;
  font-size: 20pt;
  text-align: center;
  position: relative;
  display: inline-block;

}

.bottom1{
  background-color: #3e8e41 ;
  color: white;
  font-family: 'Crimson Text', serif;
  padding: 0.9%;
  font-size: 20pt;
  text-align: center;
  position: relative;
  display: inline-block;

}
.dropbtn1 {
  background-color:  #3e8e41 ;
  color: white;
  /* background: linear-gradient(180deg, #B0DF8B 0%, rgba(31, 163, 163, 0.78) 100%); */
 
  padding: 10%;
  font-size: 20pt;
  border: none;
  cursor: pointer;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Crimson Text', serif;
  width: 110%;
  height: 10%;
}

.dropdown {
  color: black;
  position: relative;
  display: inline-block;
  margin-left: 5%;
  font-family: 'Crimson Text', serif;
  
}
.dropdown1 {
  color: black;
  position: relative;
  display: inline-block;
  margin-left: 1%;
  font-family: 'Crimson Text', serif;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content1 a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.dropdown1:hover .dropdown-content1 {
  display: block;
}

.dropdown1:hover .dropbtn1 {
  background-color: #3e8e41;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
  
}