iframe{
	margin-left:10vw;
}

img{
	margin-top:1vh;
	margin-left:2vw;
	
	
}

	
h2{
	font-family:'Verdana';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height:50px;
    color:white;
	margin-left:2vw;
	
}